.Experience {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ExperienceItem {
    border-bottom: solid 2px #202020;
    padding: 10px 0 20px;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Title01 {
    font-weight: bold;
    margin-bottom: 5px;
}

.Place {
    font-family: "AktivGroteskLightItalic";
    margin: 0;
    font-size: 14px;
}

.When {
    margin: 0;
    font-size: 14px;
}

.TaskItem {
    line-height: 25px;
    font-family: "AktivGroteskLightItalic";
}

.ExperienceItem:nth-child(1) {animation-delay: .5s;}
.ExperienceItem:nth-child(2) {animation-delay: 1s;}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(4px);
              transform: translateY(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  